html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
    text-align: center;
}

.container {
    display: flex;
    margin: 5% 10%;
    justify-content: space-around;
}

.error {
    color: red;
}